{% extends 'base.html' %}
{% set title='upload a file to a task' %}
{% block content %}
<form method="POST" class="task_form" enctype="multipart/form-data">
    {{ generate_csrf_input() }}

{{ make_icon('page_white_add') }} <b>New files</b>:<br>
{% for i in range(3) %}
<div class="box">
    File {{ i }}: <input type="checkbox" class="hide_next" name="file{{ i }}_has" {{ 'checked' if request.form['file'~i~'_has'] }}>
    <div>
        <input type="file" name="file{{ i }}"><br>
        Description: <input type="text" name="file{{ i }}_desc" value="{{ request.form['file'~i~'_desc'] }}">
    </div>
</div>
{% endfor %}
<center><input type="submit" class="task_form_submit"></center>
</form>
{% endblock content %}